<div>
    <h5>
        Volodymyr Sell
    </h5>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium amet animi consectetur et, ex fugiat fugit illum impedit itaque nostrum quaerat quia quisquam quos sint tempore ullam vero voluptatum.
    </p>
</div>