{% extends 'base.twig' %}

{% block body %}

    <div class="container">
        <div class="row">

            <div class="col-lg-9 col-md-8">
                {% include 'sections/posts.twig' with posts %}
                <hr>
                {% include 'sections/pagination.twig' with pagination %}
            </div>

            <div class="col-lg-3 col-md-4">
                {% include 'sections/about.twig' %}
            </div>

        </div>
    </div>

{% endblock %}