{% extends 'base.twig' %}

{% block body %}

    <div class="container">
        <div class="row">

            {% for post in posts %}
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <img src="https://placehold.jp/720x320.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ post.title|escape  }}
                            </h5>
                            <p class="card-text">
                                {{ post.description|escape }}
                            </p>
                            <a href="{{ post.url_key }}" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}