{% extends 'base.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {% if post.image_path is not null %}
                    <img src="{{ asset_url(post.image_path) }}" class="card-img-top mb-4" alt="...">
                {% endif %}
                <h1>
                    {{ post.title|escape }}
                </h1>
                <div class="text-muted mb-3">
                    <div class="d-inline-block">
                        Volodymyr Sell
                    </div>
                    <div class="d-inline-block"> |</div>
                    <div class="d-inline-block">
                        {{ post.published_date|date("F d, Y") }}
                    </div>
                </div>
                <div>
                    <p>
                        {{ post.content|raw  }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}